@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: var(--dynamic-primary);
    --color-secondary: var(--dynamic-secondary);
    --text-base: var(--dynamic-font-size);
}